[server]

[mysqld]

user                    = mysql
#specify our folder which will store our database
datadir                 = /var/lib/mysql
port			        = 3306
#where MySQL can find the socket to communicate with
socket                  = /run/mysqld/mysqld.sock


#all IPs on the network can connect
bind-address            = 0.0.0.0
